html, body {
  margin: 0;
  padding: 0;
  font-family: 'Courier';
  color: #fff;
  background-color: #000;
  overflow: hidden;
}

.wrapper {
  position: relative;
  display: inline-block;
/*   background-color: #333; */
  color: #fff;
}

#asciiCanvas {
  opacity: 1;
  line-height: 0.85em;
  letter-spacing: 0.24em;
  text-align: center;
/*   padding: 4px; */
  transition: opacity 0.5s ease-in-out;
}

#dcDiv {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  background: black;
  color: orange;
  padding: 1% 3%;
  transform: translate(-50%, -50%);
  font-size: xx-large;
  font-weight: bold;
  display: inline-block;
  border: 1px solid #222;
  transition: opacity 0.5s ease-in 0.25s, opacity 0.5s ease-out 1s;
}

.fileInputActive {
  color: lime;
}

.webcamButtonActive {
  background-color: lime;
}

#videoDisplay {
  display: flex;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.wrapper2 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 20px;
  transform: translate(-20%, -20%);
  border: 1px solid #333;
  background-color: #000;
}

.wrapper2 > span {
  display: block;
}

.wrapper2 > div > span {
/*   display: block; */
}

/* #fileInput::file-selector-button {
  background-image: linear-gradient(0deg, #707070 -50%, #FCFCFC 110.00000000000001%);
}
#fileInput::file-selector-button:hover {
  background-image: linear-gradient(0deg, #555555 -50%, #FCFCFC 110.00000000000001%);
} */